/*reset*/
html
{box-sizing: border-box;
font-size:62.5%;
}
*, *::before, *::after{
    box-sizing:inherit;
}
html, body {height:100%;}

body
{font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: white;
}
  #box-container-top{
    display: flex;
    align-items: left;
    position:10px;
    justify-content: left;
    flex-direction: row;
    font-size: small;
  }

  #box-1 {
    width: 100;
    font-size: small;
    padding: 10px;
  }

  #box-2 {
    width: 100;
    font-size: small;
    padding: 10px;
  }

  #box-3 {
    width: 50;
    margin-left:75%;
    font-size: small;
    padding: 10px;
  }

  #box-4 {
    width: 50;
    font-size: small;
    padding: 10px;
  }
  #box-5 {
    width: 50;
    font-size: small;
    padding: 10px;
  }

  #box-6 {
    width: 50;
    font-size: small;
    padding: 10px;
  }

  #box-container-bottom
  {
    display: flex;
    font-size: small;
    background-color:#f2f2f2;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: auto;
 
      }
      


  #box-7 {
    width: 50;
    font-size: small;
    padding: 10px;

  }

  #box-8 {
    width: 50;
    font-size: small;
    padding: 10px;

  }
  #box-9 {
    width: 50;
    font-size: small;
    padding: 10px;

  }
  #box-10 {
    width: 100;
    font-size: small;
    padding: 10px;
    margin-left:63%;
    align-items: flex-end;
  }
  #box-11 {
    width: 100;
    font-size: small;
    padding: 10px;
    align-items: flex-end;

  }

  #box-12 {
    width: 100;
    font-size: small;
    padding: 10px;
    margin-right:0px;
  }

#img-container{
left: 40%;
position: relative;
margin-top:120px;

    /*
position: relative;
left: 45%;
margin-top:100px;*/

}
  #input{
       padding: 15px;
       width:40%;
       margin-top:25px;
        position: relative;
        left:30%;
        border-radius: 50px; 
        border: 1px solid rgb(0,0,0,0.1);
        border-color: #dfe1e5;
        background-color: transparent;
      }
      
.search-buttons
{
display:flex;
padding: 10px;
margin-top: 10px;
border: 0px;
border-color: #dfe1e5;
height: 35px;
font-size: small;

}
#button-1
{
    border-radius: 1px;
    border: 0px;
    border-color: #dfe1e5;
    margin-left: 40%;
    border-radius: 4px;
    background-color: #F2F2F2; color:#5F6368;
    width:auto;

}
#button-2
    {
        border-radius: 1px;
        border: 0px;
        border-color: #dfe1e5;
        margin-left: 1%;
        border-radius: 4px;
        background-color: #F2F2F2; color:#5F6368;
        width:auto;

    }
/*
.search-random{
    display:flex;
    position: absolute;
    margin-left: 55%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 1px;
    background-color:#f1f1f1;
    border-color:#f2f2f2;
    padding: .75em 4vw;
    margin: 0px 2vw;
    font-size: .9em;
    color: rgba(94, 94, 94, 0.966);
    background-color: rgba(218, 214, 214, 0.3);
    border: 0px;
    border-radius: 10px;

}
    */
body{
    color: #757575;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;}
